.chat
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 0 0;
    padding: 2em;
}

.message
{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.message h2:last-child
{
    text-align: end;
}

hr
{
    width: 100%;
}

.chat-enterMessage
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #eee;
    border: #000 solid calc(0.1vw + 0.2em);
}

.enterMessage
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-top: #000 solid calc(0.1vw + 0.2em);
    padding: 2em;
}

.page
{
    height: 100%;
}

.newBody
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}